<div class="page-width policy-page">
  <div class="grid">
    <div class="grid__item large-up--one-half large-up--push-one-quarter medium--two-thirds medium--push-one-sixth">
      <div class="section-header text-center">
        <h2>{{ page.title }}</h2>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
